
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.header{
    background-color: rgb(33, 33, 33);
    background-image: url("../images/Cover.jpg");
    background-position: bottom;
    height:300px;
       background-position: 40% 50%; 
.headerschedule{
  text-align: right;
  color:rgb(71, 96, 144);
  a{
    text-decoration: none !important;
    color:white;
    font-size: 20px;
    text-shadow: 2px 2px rgb(71, 96, 144)
  }
  span{
    margin-right:60px;
  }
}
    h1{
      text-align: center;
          color:rgb(71, 96, 144);
          margin-top: 100px;
          font-size: 40px;
    }
}

.footer{
  margin-top:70px;
    margin-bottom:30px;
    min-height:300px;
  background-color: rgb(33, 33, 33);
  p,h3{
    color:white;
  }
  h3{
    text-align: center;
  }
  .info{

  }
  .bottom{
    margin-top: 40px;
    margin-left: 30px;
    h3{
      margin-bottom:30px;
    }
  }

}

.body{
  margin-top: 30px;
  .upcoming{
    h1{
      text-align: center;
    }
  }
  img{
    width:300px;
    height: auto;
    margin-left: 5px;
    margin-top: 5px;
  }
  h2{
    color:white;
    text-align: center;
  }

  .mainpagerow{
    margin-top: 150px;
    .mainpage{
      margin-top: 10px;

      height:380px;
      .imageContainer{
        max-width: 300px;
        margin: auto;
      }
      img{
        margin: auto;
        border: black solid 5px;
        border-radius: 5px;
      }
      p{
        font: 400 25px/1.2 'Merienda One', Helvetica, sans-serif;
        color: rgb(33, 33, 33);
        @media screen and (max-width: 375px){
        font-size: 20px;
        };
      }
      border-radius: 5px;
    }
  }
  .mainbottom{
      margin-top: 80px;
  }

}

#text-carousel{
height:150px;
margin-top: 10px;
margin-bottom: 10px;
div:hover{
    cursor: pointer;
}
}

.events{
  height: 300px;
  text-align: center;
  background-color: rgb(33, 33, 33);
  h1,p,h3{
    color:white;
  }
  .fullSchedule{
    color:rgb(65, 93, 148);
  }
  .Inner{
      height: 150px;
  }
  .left{
      height: 150px;
      color:white;
  }
  .right{
      height: 150px;
        color:white;
  }
}

.schedule{
  h1{
    text-align: center;
  }
}
.Time{
  margin-top: -10px;
}

.details{
  h1,h2{
    text-align: center;
    color:black;
  }
}

.maindetails{
  a{
    text-decoration: none !important;
    color: black;
  }
}

.carousel{
    a{
      text-decoration: none !important;
      color: black;
    }
}

.tribute{
  margin-top: 40px;
  p{
    color:black;
  }
  background-color:white;
  text-align: center;
}

.contactUs{
  h1{
    text-align: center;
  }
  p{
    font-size: 20px;
  }
}

.special1{
  .specialCol{

    h1{
      text-align: center;

    }
    p{
      font-size: 30px;

    }
  }
  margin-bottom:20px;
}
